[Unit]
Description=DashPi App
After=network-online.target
Wants=network-online.target

[Service]
User=root
RuntimeDirectory=dashpi
WorkingDirectory=/run/dashpi
ExecStartPre=/bin/sh -c 'echo 0 > /sys/class/graphics/fbcon/cursor_blink; printf "\033[?25l" > /dev/tty1'
ExecStart=/usr/local/bin/dashpi run
Restart=on-failure
RestartSec=60
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=40%
MemoryMax=200M

[Install]
WantedBy=multi-user.target
